<section class="forms">
    <div class="section-wrapper">
        <form action="" method="POST" id="card__form">
            <!--DESIGN-------------------------------------------------->
            <section class="forms__section design">
                <div class="form-top" id="form-top-design">
                    <h2><i class="far fa-object-ungroup"></i> Diseña</h2>
                    <div class="form-arrow arrow-down form-arrow-collapse" id="arrow-design"><i
                            class="fas fa-chevron-down"></i></div>
                </div>
                <div class="form-bottom form-bottom-collapse" id="form-bottom-design">
                    <p>Colores</p>
                    <ul>
                        <li class="select-palette  palette-1">
                            <input id="palette1" type="radio" name="palettes" value="palette1" checked>
                            <label class="palette" for="palette1">
                                <div class="palette__color color-1"></div>
                                <div class="palette__color color-2"></div>
                                <div class="palette__color color-3"></div>
                            </label>
                        </li>
                        <li class="select-palette palette-2">
                            <input id="palette2" type="radio" name="palettes" value="palette2">
                            <label class="palette" for="palette2">
                                <div class="palette__color color-1"></div>
                                <div class="palette__color color-2"></div>
                                <div class="palette__color color-3"></div>
                            </label>
                        </li>
                        <li class="select-palette palette-3">
                            <input id="palette3" type="radio" name="palettes" value="palette3">
                            <label class="palette" for="palette3">
                                <div class="palette__color color-1"></div>
                                <div class="palette__color color-2"></div>
                                <div class="palette__color color-3"></div>
                            </label>
                        </li>
                    </ul>
                </div>
            </section>
            <!--FILL----------------------------------------------------->
            <section class="forms__section fill">
                <div class="form-top" id="form-top-fill">
                    <h2><i class="far fa-keyboard"></i></i> Rellena</h2>
                    <div class="form-arrow arrow-down" id="arrow-fill"><i class="fas fa-chevron-down"></i></div>
                </div>
                <div class="form-bottom" id="form-bottom-fill">
                    <ul>
                        <li class="FullName">
                            <label for="FullName">Nombre completo<span>*</span></label>
                            <input placeholder="Ej: Sally Hill" id="fullName" type="text" name="FullName" required>
                        </li>
                        <li class="job">
                            <label for="job">Puesto<span>*</span></label>
                            <input placeholder="Ej: Front-End unicorn" id="job" type="text" name="job" required><label
                                for="job"></label>
                        </li>
                        <li class="profile-picture">
                            <label for="image"> Imagen de perfil<span>*</span></label>
                            <input id="image-input" type="file" name="image" class="hidden js__profile-upload-btn"
                                required>
                            <div class="profile-picture__upload">
                                <button class="btn-upload js__profile-trigger">Añadir imagen</button>
                                <div class="thumbnail js__profile-preview"></div>
                            </div>
                            <p id="error-image" class="text-error hidden">Sube una imagen.</p>
                        </li>
                        <li class="email">
                            <label for="email">Email<span>*</span></label>
                            <input placeholder="Ej: sally-hill@gmail.com" id="email" type="email" name="email" required>
                            <p id="error-email" class="text-error hidden">Introduce un email válido.</p>
                        </li>
                        <li class="telf">
                            <label for="phone">Teléfono</label>
                            <input placeholder="Ej: 555-55-55-55" id="phone" type="tel" name="phone" required>
                            <p id="error-phone" class="text-error hidden">Introduce un teléfono válido.</p>
                        </li>
                        <li class="linkedin">
                            <label for="linkedin">Linkedin<span>*</span></label>
                            <input placeholder="sally-hill" id="linkedin" type="text" name="linkedin" required>
                            <p id="error-linkedin" class="text-error hidden">Introduce tu nombre de usuario de Linkedin
                                sin @.</p>
                        </li>
                        <li class="github">
                            <label for="github">Github<span>*</span></label>
                            <input placeholder="sally-hill" id="github" type="text" name="github" required>
                            <p id="error-github" class="text-error hidden">Introduce tu nombre de usuario de Github
                                sin @.</p>
                        </li>
                    </ul>
                </div>
            </section>
            <!--SHARE---------------------------------------------------->
            <section class="forms__section share">
                <div class="form-top" id="form-top-share">
                    <h2><i class="fas fa-share-alt"></i></i> Comparte</h2>
                    <div class="form-arrow arrow-down" id="arrow-share"><i class="fas fa-chevron-down"></i></div>
                </div>
                <div class="form-bottom" id="form-bottom-share">
                    <p id="error-name-job" class="text-error hidden">Por favor, revisa los campos marcados en rojo.</p>
                    <button class="btn-create  btn-create-inactive" id="btn-create"><i class="far fa-address-card"></i>
                        Crear tarjeta</button>
                    <div class="card__share hidden" id="card-share">
                        <p>La tarjeta ha sido creada:</p>
                        <p id="card-link" class="card__link">card link</p>
                        <a id="twitter-share" href="" target="_blank"><div class="btn-twitter"><i class="fab fa-twitter"></i> Compartir en twitter</div></a>
                    </div>
                </div>
            </section>
        </form>
    </div>
</section>