<section class="forms">
    <div class="section-wrapper">
        <section class="design">
            <input type="checkbox" />
            <div class="form-arrow arrow-bottom"></div>
            <div class="form-arrow arrow-top"></div>
            <div class="form-top">
                <h2><i class="far fa-object-ungroup"></i>Diseña</h2>
            </div>
            <div class="form-bottom">
                <p>Colores</p>
                <ul>
                    <li class="palette1">
                        <input id="palette1" type="radio" name="palette1">
                        <label for="palette1"><span class="color-1"></span><span class="color-2"></span><span class="color-3"></span></label>
                    </li>
                    <li class="palette2">
                        <input id="palette2" type="radio" name="palette2">
                        <label for="palette2"><span class="color-1"></span><span class="color-2"></span><span class="color-3"></span></label>
                    </li>
                    <li class="palette3">
                        <input id="palette3" type="radio" name="palette3">
                        <label for="palette3"><span class="color-1"></span><span class="color-2"></span><span class="color-3"></span></label>
                    </li>
                </ul>
            </div>
        </section>
        <section class="fill">
            <input type="checkbox" />
            <div class="form-arrow arrow-bottom"></div>
            <div class="form-arrow arrow-top"></div>
            <div class="form-top">
                <h2><i class="far fa-object-ungroup"></i>Rellena</h2>
            </div>
            <div class="form-bottom">
                <ul>
                    <li class="FullName">
                        <input placeholder="Ej: Sally Jill" id="FullName" type="text" name="FullName"><label for="FullName"></label>
                    </li>
                    <li class="Job">
                        <input placeholder="Ej: Front-End unicorn" id="Job" type="text" name="Job"><label for="Job"></label>
                    </li>
                    <li class="profile__picture">
                        <input id="profile__picture" type="text" name="profile__picture"><label
                            for="profile__picture"></label>
                    </li>
                    <li class="email">
                        <input placeholder="Ej: sally-hill@gmail.com" id="email" type="email" name="email"><label for="email"></label>
                    </li>
                    <li class="telf">
                        <input placeholder="Ej: 555-55-55-55" id="telf" type="tel" name="telf"><label for="telf"></label>
                    </li>
                    <li class="linkedin">
                        <input placeholder="linkedin.com/in/sally.hill" id="linkedin" type="text" name="linkedin"><label for="linkedin"></label>
                    </li>
                    <li class="github">
                        <input placeholder="@sally-hill"  id="github" type="text" name="github"><label for="github"></label>
                    </li>
                </ul>
            </div>
        </section>
        <section class="share">
                <input type="checkbox" />
                <div class="form-arrow arrow-bottom"></div>
                <div class="form-arrow arrow-top"></div>
                <div class="form-top">
                    <h2><i class="far fa-object-ungroup"></i>Comparte</h2>
                </div>   
        </section>
    </div>
</section>