<section class="forms">
    <div class="section-wrapper">
        <section class="design">
            <input type="checkbox"/>
            <div class="form-arrow arrow-bottom"></div>
            <div class="form-arrow arrow-top"></div>
            <div class="form-top">
                <h2><i class="far fa-object-ungroup"></i>Diseña</h2>
            </div>
            <div class="form-bottom">
                <p>Colores</p>
                <ul>
                    <li class="palette1">
                        <input id="palette1" type="radio" name="palette1">
                        <label for="palette1"><span class="color-1"></span><span class="color-2"></span><span class="color-3"></span></label>
                    </li>
                    <li class="palette2">
                        <input id="palette2" type="radio" name="palette2">
                        <label for="palette2"><span class="color-1"></span><span class="color-2"></span><span class="color-3"></span></label>
                    </li>
                    <li class="palette3">
                        <input id="palette3" type="radio" name="palette3">
                        <label for="palette3"><span class="color-1"></span><span class="color-2"></span><span class="color-3"></span></label>
                    </li>
                </ul>
            </div>


        </section>
        <section class="fill"></section>
        <section class="share"></section>
    </div>
</section>