<main class="main">
   <div class="main__logo">
       <img class="main__logo-image" src="./assets/images/download.svg" alt="Logo">
   </div>
   <h1 class="main__title"> Crea tu tarjeta de visita</h1>
   <p class="main__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
   <div class="main__div-icons">
       <div class="main__div-icons-icon">
            <i class="far fa-object-ungroup"></i>
            <p class="main__text-icons">Diseña</p>
        </div>
        <div class="main__div-icons-icon">
            <i class="far fa-keyboard"></i>
            <p class="main__text-icons">Rellena</p>
        </div>
        <div class="main__div-icons-icon">
            <i class="fas fa-share-alt"></i>
            <p class="main__text-icons">Comparte</p>
        </div>
    
   </div>
   <div class="main__link">
        <a href="#">Comenzar</a>
    </div>
</main>
