<section class="preview">
    <div class="preview__wrapper">
        <button class="btn-reset"><i class="far fa-trash-alt"></i> reset</button>
        <div class="card">
            <div class="card__id">
                <h3 class="card__id--name">Nombre Apellido</h3>
                <p class="card__id--role">Front-end developer</p>
            </div>
            <div class="card__photo"></div>
            <div class="card__contacts">
                <ul>
                    <li class="contact-icon"><i class="fas fa-mobile-alt"></i></li>
                    <li class="contact-icon"><i class="far fa-envelope"></i></li>
                    <li class="contact-icon"><i class="fab fa-linkedin-in"></i></li>
                    <li class="contact-icon"><i class="fab fa-github-alt"></i></li>
                </ul>
            </div>
        </div>
    </div>
</section>