Equipo, os pongo por aquí lo que dejé ayer a medias de html con comentarios, para no pushear todo este rollo a nuestro repo (si queréis verlo más fácil os recomiendo que os lo peguéis en un archivo html de visual, que los comentarios salen en verde ☺️):

````
<section class="forms">
    <div class="section-wrapper">
        <!--A PARTIR DE AQUÍ SECCIÓN DISEÑA:-->
        <section class="design">
            <input type="checkbox"/> <!-- Este checkbox sirve para mostrar y ocutar el form-bottom, y para que funcione tiene que estar al mismo nivel que lo que va a mostrar/ocultar, por eso está aquí.-->
            <div class="form-arrow arrow-bottom"></div> <!--Este div-->
            <div class="form-arrow arrow-top"></div> <!--y este, son la flechita hacia abajo y hacia arriba que indican que la sección es colapsable. Van a ir las dos superpuestas una encima de la otra y ambas debajo del checkbox, y las iremos mostrando/ocultando con css.-->

            <!--Aquí la parte de arriba del formulario (form-top), que sólo tendría el título y a lo mejor no necesita estar dentro de un div, pero en mi cabeza tenía lógica que si lo de abajo esá en un div, lo de arriba también:-->
            <div class="form-top">
                <h2><i class="far fa-object-ungroup"></i>Diseña</h2>
            </div>

            <!--Aquí la parte de abajo del formulario (form-bottom), que es el formulario propiamente dicho:-->
            <div class="form-bottom">
                <p>Colores</p> <!--El texto de la izquierda-->
                <ul>
                    <li class="palette1">
                        <input id="palette1" type="radio" name="palette1">
                        <label for="palette1"><span class="color-1"></span><span class="color-2"></span><span class="color-3"></span></label> <!--He creado tres spans que van a ser los colores, y los he metido en un label porque me parecía que tenía sentido, pero si se os ocurre una manera mejor de hacerlo y lo queréis cambiar, adelante. Se llaman igual en todas las etiquetas porque como con sass se anida, no me parecía necesario hacerlas distintas en cada paleta, si al final se van a especificar mediante "".palette1 . color1", pero también lo hacemos como queráis.-->
                    </li>
                    <li class="palette2">
                        <input id="palette2" type="radio" name="palette2">
                        <label for="palette2"><span class="color-1"></span><span class="color-2"></span><span class="color-3"></span></label>
                    </li>
                    <li class="palette3">
                        <input id="palette3" type="radio" name="palette3">
                        <label for="palette3"><span class="color-1"></span><span class="color-2"></span><span class="color-3"></span></label>
                    </li>
                </ul>
            </div>
        </section>
        <!--Y hasta aquí la sección diseña, por si queréis basaros en ella para las próximas dos, por el tema del checkbox y las flechitas.-->
        <section class="fill"></section>
        <section class="share"></section>
    </div>
</section>
````