/* DEVICE WIDTH - media queries breakpoints */
$tablet: 768px;
$desktop: 1200px;

/* FONT SIZE */
$defaultFontSize: 16;

/* COLORS */
$color-main: #e17334;
$color-secondary: #438792;
$color-background: #f5f5f5;
$color-background-card: linear-gradient (#bfcdd0,#dde9ed);
$color-background-toggle: linear-gradient (#f5f5f5,#ffffff);
$color-text:#54585a;
$color-textlight: #cbcbcc;
$color-white:#ffffff;
$color-black: #000000;
$color-footer:#6b6b6b;
$color-palette1c1: #114e4e;
$color-palette1c2: #438792;
$color-palette1c3: #a2deaf;
$color-palette2c1: #420101;
$color-palette2c2: #bd1010;
$color-palette2c3: #eb5626;
$color-palette3c1: #3e5b65;
$color-palette3c2: #eab052;
$color-palette3c3: #a0c0cf;
